<!--
    Third Huge Freckled Elephant
    Ethan Shenker, Constance Chen, Andrew Jiang, Saqif Abedin
    K15 - Sessions Greetings
    2020-12-12
-->

<!DOCTYPE html>


<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body> 


    <h3> Third Huge Freckled Elephant </h3>
    <h3> Ethan Shenker, Constance Chen, Andrew Jiang, Saqif Abedin </h3>
    <br> <br>
    <h1>
      Welcome, Travelers of the Intertoobz!
    </h1>
   
    <form action="/auth">
      <label for="username">Username:</label> <br>
      <input type="text" name="username" id="username">
      <br>
      <br>
      <label for="password">Password:</label> <br>
      <input type="password" name="password" id="password">
      <br>
      <input type="submit" name="sub1">
    </form>
    <br>
  </body>

</html>