<!--
    Third Huge Freckled Elephant
    Ethan Shenker, Constance Chen, Andrew Jiang, Saqif Abedin
    K15 - Sessions Greetings
    2020-12-12
-->

<!DOCTYPE html>

<html>

  <head>
    <title> RESPONSE PAGE </title>
  </head>

  <body>
    <h3> Third Huge Freckled Elephant </h3>
    <h3> Ethan Shenker, Constance Chen, Andrew Jiang, Saqif Abedin </h3>
    <br> <br>
    <h1> Hello, {{user}}! How are you? </h1>
    <br>
    <form action="/logout">
        <input type="submit" name="logout" value="Logout">
    </form>
  </body>



</html>