<!--
    Third Huge Freckled Elephant
    Ethan Shenker, Constance Chen, Andrew Jiang, Saqif Abedin
    K14 - Form and Function
    2020-12-10
-->

<!DOCTYPE html>


<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body> 


    <h3> Third Huge Freckled Elephant </h3>
    <h3> Ethan Shenker, Constance Chen, Andrew Jiang, Saqif Abedin </h3>
    <br> <br>
    <h1>
      Welcome, Travelers of the Intertoobz!
    </h1>
   

    <h3>
      Enter your username below to proceed.
    </h3>
    <form action="/auth">
      <input type="text" name="username">
      <input type="submit" name="sub1">
    </form>
    <br>
  </body>

</html>